.campaign-card {
  position: relative;
  background: white;
  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  max-height: 400px;
  max-width: 500px;

  &:hover {
    scale: 1.01;
    transform: translateY(-2px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  }
  transition: all 0.2s ease-in-out;
}
