h1 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: clamp(3rem, 7vw, 5.5rem);

  span {
    color: var(--color-accent);
  }
}

.home-hero {
  height: calc(100svh - var(--section-nav-height));
}

.home-hero__support {
  display: grid;
  gap: var(--space-4);
  font-size: var(--fs-lg);
  /* color: var(--color-text-secondary); */
}
